@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

*{
  margin:0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 200;
  box-sizing: border-box;
}

body{
  background-color: #e9f3ff30;
}

#doughnutChart {
  margin: 0 auto;
}

#doughnutChart-wrapper {
  place-items: center;  /* จัดให้อยู่กลางทั้งในแนวนอนและแนวตั้ง */
  height: 100%;  /* ตั้งค่าความสูง */
}

#doughnutChart2 {
  margin: 0 auto;
}

#doughnutChart-wrapper2 {
  place-items: center;  /* จัดให้อยู่กลางทั้งในแนวนอนและแนวตั้ง */
  height: 100%;  /* ตั้งค่าความสูง */
}


